{% extends 'layout.html' %}
{% block title %}{{cname}} Inventory Page{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
<h1 class="w3-xlarge"> <strong>{{cname}} Inventory Page</strong> </h1>
{% if level > 0 %}
<form  method = "POST" action= "/addclubInventory/{{cid}}">
<div class= "col-lg-6 col-lg-offset-3">
<div class="w3-container">
<div class="w3-display-container">
  <div class="login">
    <div class="input-group">
			   <span class="input-group-addon"><i class="fa fa-diamond fa-fw" aria-hidden="true"></i></span>
         <input type="text" placeholder="Item Name" name="name" class="input-txt" required><br>
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-money fa-fw" aria-hidden="true"></i></i></span>
      <input type="text" placeholder="Price" name="price" class="input-txt" required><br>
    </div>
  <div class="w3-display-right"><button type="submit" class="w3-btn w3-orange w3-round-xxlarge">Add</button></div>
  </div>
  </div>
  </div>

</form>
{% endif %}
{%if availableinventories %}
<div class="w3-container">
<br><br>
<div class= "col-lg-6 col-lg-offset-3">
<div class="table-container" >
<h1 class="w3-xlarge"> <strong>Inventory Table</strong></h1><br>
<table class="w3-table-all w3-small w3-centered">
{% for a in availableinventories %}
{% if a[2] == 1 %}
<tr class="w3-deep-orange">
<td>{{a[1]}} </td>
<td>{{a[3]}}<i class="fa fa-try" aria-hidden="true"></i></td>
<td>
{% if a[5] == uid %}
<form method="POST" action="/releaseitem/{{cid}}/{{a[0]}}"><button type="submit" class="w3-btn w3-red w3-round-xxlarge">Release</button></form>
 {% else %}
{{a[4]}}
{% endif %}</td>
{% if level == 1 %}<td> <form  method="POST" action="/deleteitem/{{cid}}/{{a[0]}}"><button type = "submit"
class="trash" style="background: none; border:none;padding:0"><span class="glyphicon glyphicon-trash""></span></button></form></td>{%endif %}
</tr>
{% else %}
<tr class="w3-light-green">
<td>{{a[1]}}</td>
<td>{{a[3]}}<i class="fa fa-try" aria-hidden="true"></i></td>
<td><form method="POST" action="/inventoryapp/{{cid}}/{{a[0]}}"><button type="submit" class="w3-btn w3-green w3-round-xxlarge">Apply</button></form></td>
{% if level == 1 %}<td> <form  method="POST" action="/deleteitem/{{cid}}/{{a[0]}}"><button type = "submit"
class="trash" style="background: none; border:none;padding:0"><span class="glyphicon glyphicon-trash""></span></button></form></td>{%endif %}
</tr>
{% endif %}
{% endfor %}
</table>
</div>
</div>
</div>
<br>
{% else %}
<br>
<div class="alert alert-warning">No items found in the inventory</div>
  </div>
{% endif %}
{% endif %}

{% endblock %}
