{% extends 'layout.html' %}
{% block title %} Club Profile Page {% endblock %}

{% block content %}
<div class= "col-lg-6 col-lg-offset-3">
<div class="w3-card-4">

<header class="w3-container w3-orange">
  <br>
    <h1 class = "w3-large"><strong>{{club[1]}}</strong></h1>
  <br>
</header>

<ul class="w3-ul w3-hoverable">
  <li><span class="glyphicon glyphicon-user" style="color:#E88E0C" aria-hidden="true"></span>&nbsp;{{club[2]}}</li>
  <li><span class="glyphicon glyphicon-education" style="color:#E88E0C" aria-hidden="true"></span>&nbsp;{{club[3]}}</li>
  <li><span class="glyphicon glyphicon-envelope" style="color:#E88E0C" aria-hidden="true"></span>&nbsp;{{current_user.email}}</li>
  <li><span class="glyphicon glyphicon-bullhorn" style="color:#E88E0C" aria-hidden="true"></span>&nbsp;<strong>My Student Clubs</strong>
    {% if clubnames %}
    {% for c in clubnames %}
      <p><a href="clubProfile/{{c[0]}}"><span class="glyphicon glyphicon-triangle-right" style="color:#E88E0C" aria-hidden="true"></span>&nbsp;{{c[1]}}</a></p>
    {% endfor %}
    {% else %}
    <p> No membership in any club. </p>
    {% endif %}
  </li>
</ul>
{% if current_user.is_authenticated %}
<form method="POST" class="w3-button w3-block w3-dark-grey" action="{{ url_for('link2.registerToClub', clubId=club[0]) }}">

  	{% if not ismember and not isapplied %}
		<button type="submit">register</button>
  	{% endif %}

  	{% if not ismember and isapplied %}
		<button type="submit" disabled>applied</button>
  	{% endif %}

  	{% if ismember and not isapplied %}
		<button type="submit" disabled>already member</button>
  	{% endif %}

</form>
{% endif %}
</div>
</div>
{% endblock %}
