{% extends 'layout.html' %}
{% block title %} {{club[1]}} Profile Page {% endblock %}

{% block content %}
{% if level >= 1 %}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
{% else %}
	<div class= "col-sm-6 col-md-4">
    <div class="thumbnail">
{% endif %}

<header class="w3-container w3-orange">
  <br>
    <h1 class = "w3-large"><strong>{{club[1]}}</strong></h1>
  <br>
</header>

<ul class="w3-ul">
  <li><span class="fa fa-tag" style="color:#E88E0C" aria-hidden="true"></span>&nbsp;{{club[2]}}</li>
  <li><span class="fa fa-quote-right" style="color:#E88E0C" aria-hidden="true"></span>&nbsp;{{club[3]}}</li>
  <li><span class="glyphicon glyphicon-bullhorn" style="color:#E88E0C" aria-hidden="true"></span>&nbsp;<strong style="color:#E88E0C">Board Members</strong>
    {% if board %}
    	{% for b in board %}
    		{%if b[0] == 1%} <p><strong>Chairman</strong></p> {% endif %}
    		{%if b[0] == 2%} <p><strong>Vice Chairman</strong></p> {% endif %}
    		{%if b[0] == 3%} <p><strong>Secretary</strong></p> {% endif %}
    		{%if b[0] == 4%} <p><strong>Accountant</strong></p> {% endif %}
    		{%if b[0] == 5%} <p><strong>Clerk</strong></p> {% endif %}
    		<p><span class="fa fa-user" style="color:#E88E0C" aria-hidden="true"></span>&nbsp;{{b[1]}}</p>
    		<p><span class="fa fa-at" style="color:#E88E0C" aria-hidden="true"></span>&nbsp;{{b[2]}}</p>
    	{% endfor %}
    {% else %}
    	<p> Board members are not assigned yet. </p>
    {% endif %}
  </li>

  {% if socmed %}
  <li>
    <span class="fa fa-globe" style="color:#E88E0C" aria-hidden="true"></span>&nbsp;<strong style="color:#E88E0C">Social Medias</strong><br>
  {% for s in socmed %}

     {% if s[0] == "Facebook" %} <span class="fa fa-facebook" style="color:#E88E0C" aria-hidden="true"></span> {% endif %}
     {% if s[0] == "Instagram" %} <span class="fa fa-instagram" style="color:#E88E0C" aria-hidden="true"></span> {% endif %}
     {% if s[0] == "Youtube" %} <span class="fa fa-youtube-play" style="color:#E88E0C" aria-hidden="true"></span> {% endif %}
     {% if s[0] == "Twitter" %} <span class="fa fa-twitter" style="color:#E88E0C" aria-hidden="true"></span> {% endif %}
     &nbsp;<a href="http://{{s[1]}}">{{s[1]}} </a><br>

  {% endfor %}
    </li>
  {% endif %}
</ul>
{% if current_user.is_authenticated %}


  	{% if not ismember and not isapplied %}
    <form method="POST" class="w3-button w3-block w3-dark-grey" action="{{ url_for('link2.registerToClub', clubId=club[0]) }}">
		<button type="submit" style="background: none; border:none;padding:0">Register</button>
    </form>
  	{% endif %}

  	{% if not ismember and isapplied %}
    <div class="w3-button w3-block w3-dark-grey">
		<button type="submit" style="background: none; border:none;padding:0" disabled>Waiting for Confirmation</button> </div>
  	{% endif %}


{% endif %}
</div>

</div>

{% if level == 1 %}
<!-- Assign Board Member -->
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
		<header class="w3-container w3-orange">
  			<br>
    		<h1 class = "w3-large"><strong>Assign Board Member</strong></h1>
  			<br>
		</header>

<form  method="POST" action= " {{ url_for('link2.assignBoard' ,clubId=club[0]) }}">
	<br>
    <!-- <label><b>Name - Surname</b></label> -->
    <div class="input-group">
       <span class="input-group-addon"><i class="glyphicon glyphicon-tasks" aria-hidden="true"></i></span>
  		<select class="w3-select w3-orange" name="role" required>
  			<option selected disabled>Select Role</option>
			<option value = "2">Vice Chairman</option>
			<option value = "3">Secretary</option>
			<option value = "4">Accountant</option>
			<option value = "5">Clerk</option>
		</select>
		<br>
    </div>
    <br>
    <div class="input-group">
       <span class="input-group-addon"><i class="glyphicon glyphicon-tasks" aria-hidden="true"></i></span>
  		<select class="w3-select w3-orange" name="member" required>
  		<option selected disabled>Member</option>
  		{% for m in members %}
  		{% if current_user.get_id()[0] != m[0] %}
			<option value = "{{m[0]}}">{{ m[1] }}</option>
  		{% endif %}
		{% endfor %}
		</select><br>
    </div>
	<br>
    <button type="submit" class="btn">Assign</button>
</form>
    </div>
  </div>
{% endif%}
<!-- / Assign Board Member -->
<!-- Member Applications -->
{% if level == 1 %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
		<header class="w3-container w3-orange">
  			<br>
    		<h1 class = "w3-large"><strong>Member Applicantions</strong></h1>
  			<br>
		</header>

	<br>
    <!-- <label><b>Name - Surname</b></label> -->
    {%if applicants %}
	<div class="table-container" >
	<table class="table table-hover text-center" border="1">
	<thead>
	<tr>
	<th class = "text-center"> Name-Surname </th>
	<th class = "text-center"> Accept</th>
	<th class = "text-center"> Decline</th>
	</tr>
	</thead>
	{% for a in applicants %}
		<tr>
		<td>{{a[1]}} </td>
		<td><form  method="POST" action="{{ url_for('link2.welcomeApply', clubId = club[0], userId = a[0])}}"><button type = "submit" style="background: none; border:none;padding:0"><span class="glyphicon glyphicon-ok" style="color:#00E80F"></span></button></form></td>
		<td><form  method="POST" action="{{ url_for('link2.deleteApply', clubId = club[0], userId = a[0])}}"><button type = "submit"
		class="trash" style="background: none; border:none;padding:0"><span class="glyphicon glyphicon-trash" style="color:#E82200"></span></button></form></td>
		</tr>
	{% endfor %}
	</table>
	</div>

	{% else %}
	<div class="alert alert-info">
  		<strong><span class="glyphicon glyphicon-info-sign"></span></strong> There is no pending member applications!
  	</div>
	{% endif %}

    </div>
  </div>
  {% endif%}
  <!-- / Member Applications -->
  <!-- Manage Events -->


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <header class="w3-container w3-orange">
        <br>
        <h1 class = "w3-large"><strong>Club Management</strong></h1>
        <br>
    </header>
    <div class="w3-button w3-block w3-dark-grey" ><a href="{{url_for('link2.clubInventory', clubId = club[0])}}">Inventory</a></div>
      {% if level >= 1 %}<div class="w3-button w3-block w3-dark-grey" ><a href="{{url_for('link2.clubBalance', clubId = club[0])}}">Balance</a></div>
    <div class="w3-button w3-block w3-dark-grey" ><a href="{{url_for('link2.memberlist', cid = club[0])}}">Member List</a></div>
    <div class="w3-button w3-block w3-dark-grey" ><a href="{{url_for('link2.socmed', cid = club[0])}}">Social Media Management</a></div>
    {% endif %}
  </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
		<header class="w3-container w3-orange">
  			<br>
    		<h1 class = "w3-large"><strong>Events</strong></h1>
  			<br>
		</header>

	<br>
    <!-- <label><b>Name - Surname</b></label> -->
    {%if events %}
	<div class="table-container" >
	<table class="table table-hover text-center" border="1">
	<thead>
	<tr>
	<th class = "text-center"> Event Name </th>
	<th class = "text-center"> Explanation </th>
	<th class = "text-center"> Time </th>
	<th class = "text-center"> Location </th>
	</tr>
	</thead>
	{% for e in events %}
		<tr>
		<td>{{e[0]}}</td>
		<td>{{e[1]}}</td>
		<td>{{e[2]}}</td>
		<td>{{e[3]}}</td>
    {% if level >= 1 %}<td><form  method="POST" action="{{ url_for('link5.delete_event', cid= club[0], eid = e[4] ) }}"><button type = "submit"
		class="trash" style="background: none; border:none;padding:0"><span class="glyphicon glyphicon-trash" style="color:#E82200"></span></button></form></td>{% endif%}
		</tr>
	{% endfor %}
	</table>
	</div>

	{% else %}
	<div class="alert alert-info">
  		<strong><span class="glyphicon glyphicon-info-sign"></span></strong> There is no upcoming event!
  	</div>
	{% endif %}
	{% if level >= 1 %}<div class="w3-button w3-block w3-dark-grey" >
		<a href="{{ url_for('link5.create_event', id=club[0]) }}"><span class="glyphicon glyphicon-pencil"></span> Create Event</a>
	</div>{% endif %}
    </div>
  </div>





{% endblock %}
