{% extends 'layout.html' %}
{% block title %}Edit{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}

 <form  method = "POST" action= " {{ url_for('link3.updateProfile') }}">

   <div class="container" align = "center">
     <div class="login">
    <!-- <label><b>Email</b></label> -->
    <input type="email"  placeholder="Enter New Email" class="input-txt" name="email"><br>

    <!-- <label><b>Password</b></label> -->
    <input type="password" placeholder="Enter New Password" class="input-txt" name="psw"><br>

    <!-- <label><b>Repeat Password</b></label> -->
    <input type="password" placeholder="Repeat New Password" class="input-txt" name="psw-repeat"><br>

    <div >
      <br><button type="submit" class="signupbtn">Update</button>
    </div>
  </div>
  </div>
</form>

{% endif %}
{% endblock %}
