{% extends 'layout.html' %}
{% block title %}Edit{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}

 <form  method = "POST" action= " {{ url_for('link3.updateProfile') }}">
  <div class="container">

    <label><b>Email</b></label>
    <input type="email"  placeholder="Enter New Email" name="email"><br>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter New Password" name="psw"><br>

    <label><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat New Password" name="psw-repeat"><br>

    <div >
      <button type="submit" class="signupbtn">update</button>
    </div>
  </div>
</form>

{% endif %}
{% endblock %}