<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/w3_v2.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/login7.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/component.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap-toggle.min.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/ourstyle.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}" />
<!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'css/lavishr.css')}}" /> -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/w3.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/nivo-slider.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/login_popover_v2.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/search_v4.css') }}" />

<title>{% block title %}{% endblock %}</title>
</head>
<style>
a:hover{
	color:#444444;
	text-decoration: none;
}
</style>
<body>
	<!-- Navigation -->
<nav class="navbar navbar-default navbar-inverse " style="background-color: #444" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a style="color: #E88E0C;" class="navbar-brand" href="/"><img src="../static/logob.png" style="width: 95%; height: 95%"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="w3-hover-ccc"><a style="color: #E88E0C" href="/clubProfile/1">Clubs</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        
        {% if current_user.is_authenticated %}
    <li><a style="color: #E88E0C" href="{{ url_for('link3.userProfile') }}"><span class="glyphicon glyphicon-user"></span>Hi {{ current_user.name }}!</a></li>
    <li><a style="color: #E88E0C" href="{{ url_for('link1.logout') }}"><button title="Logout" class="w3-button w3-padding-small w3-orange w3-circle"><span class="glyphicon glyphicon-log-out"></span></button></a> 
    </li>
  

    {% endif %}
        {% if current_user.is_anonymous %}
    <!-- <button type="button" class="w3-button w3-padding-small w3-orange w3-circle" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><span class="glyphicon glyphicon-log-in"></span><a style="color: #E88E0C" href="{{ url_for('link1.logout') }}"><button title="Login" class="btn btn-default"></button></a></button> -->



    <li class="dropdown w3-hover-ccc">
          <a style="color: #E88E0C" href="#" class="dropdown-toggle " data-toggle="dropdown"><b>Login</b> <span class="glyphicon glyphicon-log-in"></span></a>
      <ul id="login-dp" class="dropdown-menu">
        <li>
          <div class="row">
              <div class="col-md-12">
                 <form class="form" role="form" method="POST" action="{{url_for('link1.login')}}" accept-charset="UTF-8" id="login-nav">
                  <h1 class="login-heading"><center><strong>Welcome!</strong></h1>
                    <div class="form-group">
                       <label class="sr-only" >Email address</label>
                       <input type="text" name="uname" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                       <label class="sr-only">Password</label>
                       <input type="password" name="psw" class="form-control" placeholder="Password" required>
                                             <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                    </div>
                    <div class="form-group">
                       <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </div>
                    <div class="checkbox">
                       <label>
                       <input type="checkbox"> keep me logged-in
                       </label>
                    </div>
                 </form>
              </div>
              <div class="bottom text-center">
                <span class="login-heading" style="font-size: 1.3em;">Want to join? <br>
                  <a  class="login-heading" style = "color:green; font-size: 1.5em;" href="{{ url_for('link1.signup') }}"><b>SIGN UP!</b></a>
                </span>
                </div>
          </div>
           
        </li>
      </ul>
    </li>

    {% endif %}
      </ul>
      <form class="navbar-form navbar-right" method="POST" action="#" role="search">
      			<div class="input-group" >
      	<input type="text" class="form-control" placeholder="Search for a club..."  name="keyword">
      	<span class="input-group-btn">
        	<button class="btn btn-default"  type="submit"><a class="glyphicon glyphicon-search" ></a></button>
      	</span>
    </div><!-- /input-group -->
		</div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  {% with messages = get_flashed_messages() %}
{% if messages %}
<div class="w3-card w3-orange w3-display-container">
	{% for message in messages %}
  <center>
 	 <strong>
 <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;</span>{{ message }}</strong></center></p>
 {% endfor %}
 </strong>
 
<!-- </div>
<div class="w3-button w3-padding-small w3-orange w3-right"><span onclick="this.parentElement.style.display='none'"
 >&times;</span>
	</div> -->

<!-- <div class="alert alert-warning"><strong>
	{% for message in messages %}
		<center> {{ message }} </center>
	{% endfor %}
	</strong></div> -->
{% endif %}
{% endwith %}
</nav>
<!-- #################
<div id="header">
	
	<div class="inner cf">

		<div id="navigation">
			<ul>
				<li class="current-menu-item"><a href="/">Home</a></li>
				<li>
					<a href="#">Dropdown</a>
					<ul>
						<li><a href="#">&raquo; menu option one</a></li>
						<li><a href="#">&raquo; menu option two</a></li>
						<li><a href="#">&raquo; menu option three</a></li>
						<li><a href="#">&raquo; menu option four</a></li>
						<li><a href="#">&raquo; menu option five</a></li>
					</ul>
				</li>
				<li><a href="/clubProfile/1">Clubs</a></li>


			</ul>

		</div>

		{% if current_user.is_authenticated %}

		

		<form method="POST" action="#" class="search" style="margin-right: 1%">
			<fieldset>
				<legend>Search</legend>
				<input type="text" name="search" value="" />
				<span class="glyphicon glyphicon-search" style="vertical-align:middle; horizontal-align:middle; right: 3px"></span>
			</fieldset>
		</form>


		<li style="color: #E88E0C" >
			<a style="color: #E88E0C" href="{{ url_for('link3.userProfile') }}"><span class="glyphicon glyphicon-user"></span>Hi {{ current_user.name }}!</a>
			<a style="color: #E88E0C" href="{{ url_for('link1.logout') }}"><button title="Logout" class="w3-button w3-padding-small w3-orange w3-circle"><span class="glyphicon glyphicon-log-out"></span></button></a> 
		</li>
	

		{% endif %}

		{% if current_user.is_anonymous %}
		<button type="button" class="w3-button w3-padding-small w3-orange w3-circle" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><span class="glyphicon glyphicon-log-in"></span><a style="color: #E88E0C" href="{{ url_for('link1.logout') }}"><button title="Login" class="btn btn-default"></button></a></button>



		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="glyphicon glyphicon-log-out"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					<div class="row">
							<div class="col-md-12">
								 <form class="form" role="form" method="POST" action="{{url_for('link1.login')}}" accept-charset="UTF-8" id="login-nav">
								 	<h1 class="login-heading"><strong>Welcome.</strong> Please login.</h1>
										<div class="form-group">
											 <label class="sr-only" >Email address</label>
											 <input type="text" name="uname" class="form-control" placeholder="Username" required>
										</div>
										<div class="form-group">
											 <label class="sr-only">Password</label>
											 <input type="password" name="psw" class="form-control" placeholder="Password" required>
                                             <div class="help-block text-right"><a href="">Forget the password ?</a></div>
										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
										</div>
										<div class="checkbox">
											 <label>
											 <input type="checkbox"> keep me logged-in
											 </label>
										</div>
								 </form>
							</div>
							<div class="bottom text-center">
								<span class="login-heading" style="font-size: 1.3em;">Want to join? 
									<a  class="login-heading" style = "color:green; font-size: 1.5em;"href="{{ url_for('link1.signup') }}"><b>SIGN UP!</b></a>
								</span>
		   					</div>
					</div>
					 
				</li>
			</ul>
		</li>

		{% endif %}

	</div>
</div>
#################### -->

	<!-- <nav class="navbar nav-tabs" role="navigation">
		<div class="container">
		Brand and toggle get grouped for better mobile display
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand"  href="/"><img src="static/logob.png"></a>
			</div>
			Collect the nav links, forms, and other content for toggling
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav nav-tabs">
					<li><a href="/"><b>Home</b></a></li>
					<li><a href="/clubProfile/1"><b>Clubs</b></a></li>
					<li class='navbar-right'>
						{% if current_user.is_authenticated %}
							<a href="{{ url_for('link1.logout') }}"><span class="glyphicon glyphicon-user"></span>Hi {{ current_user.name }}!
								<span class="glyphicon glyphicon-log-out"></span>Log out</a>

					  {% endif %}
					</li>

				</ul>
			</div>
			 /.navbar-collapse
		</div>
		 /.container

	</nav> -->

	<script type="text/javascript" src='static/js/jquery.js'></script>
	<script type="text/javascript"
		src='static/js/jquery-3.1.1.min.js'></script>
	<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" src='static/js/bootstrap.min.js'></script>
	<script type="text/javascript"
		src='static/js/modernizr.custom.js'></script>
	<script type="text/javascript" src='static/js/classie.js'></script>
	<script type="text/javascript" src='static/js/modalEffects.js'></script>
	<script>
		// this is important for IEs
		var polyfilter_scriptpath = 'static/js/';
	</script>
	<script type="text/javascript" src='static/js/cssParser.js'></script>
	<script type="text/javascript"
		src='static/js/bootstrap-toggle.min.js'></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('[data-toggle="popover"]').popover({
				placement : 'bottom',
				trigger : 'active'
			});
		});
	</script>
	
	<!-- Page Content -->

	<div class="container">

		<div class="row">
			<div class="col-lg-12 text-center">{% block content %}
				{%endblock %}</div>

		</div>
		<!-- /.row -->

	</div>

	<!-- /.container -->
</body>

<div id ="footer" align= "center" style = "  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;">
    <footer>
  <div id="datetime"> <b> &copy TURGUT KORAY BESTE</b>  <i>{{ current_time }}</i></div>
    </footer>
    </div>

</html>
