{% extends 'layout.html' %}
{% block title %} Messages {% endblock %}

{% block content %}

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <header class="w3-container w3-orange">
        <br>
        <h1 class = "w3-large"><strong> Messages</strong></h1>
        <br>
    </header>

<table class="table table-hover text-center" border="1">
  <thead>
    {% for c in conversations %}
    <tr>
      <form action= " {{url_for('link6.getMessages', furom = id, role = role, ti = c[0])}}">
        <td align = "center"><button type="submit" name = "tu" value = "{{c[0]}}" class="btn">{{c[1]}}</button></td>
      </form>
    </tr>
    {% endfor %}

  </thead>
  </table>

  <table class="table table-hover text-center" border="1">
  <thead>
    <tr>
      <form method = "POST" action= "{{url_for('link6.createConversation', furom = id, role = role)}}">
        <td align= "left">
          <button type = "submit" class ="btn" >New Conversation</button>
          
        </td>
        <td align= "right">
          <div class="form-group">
            <select class="form-control" name="newAdress">
              <option selected disabled>Select Address</option>
                {% for a in adresses %}
                  <option value = "{{a[0]}}">{{ a[1] }}</option>
                {% endfor %}
            </select>
          </div>
        </td>
      </form>
    </tr>
    <tr>
      <form method = "POST" action= "{{url_for('link6.deleteConversation', furom = id, role = role)}}">
        <td align= "left">
          <button type = "submit" class="btn">Delete Conversation</button>
          
        </td>
        <td align= "right">
          <div class="form-group">
            <select class="form-control" name="newAdress">
              <option selected disabled>Select Address</option>
                {% for a in adressesr %}
                  <option value = "{{a[0]}}">{{ a[1] }}</option>
                {% endfor %}
            </select>
          </div>
        </td>
      </form>
    </tr>

  </thead>
  </table>

    </div>

  </div>


  <div class="col-sm-6 col-md-8">
    <div class="thumbnail">
    <header class="w3-container w3-orange" border = "0">
        <br>
        <h1 class = "w3-large"><strong>{% if messages %} {{name[1]}} {% else %} Select a conversation from the list on the left {% endif %}</strong></h1>
        <br>
    </header>
    <div data-spy="scroll">    
      {% if messages %}
      <table class="table table-hover text-center" border="1">
  <thead>
    {% for m in messages %}
      {% if role == 1 %}
        {% if m[4] %}
        <tr>
        <td align= "right" ><button class="w3-container w3-amber btn" passive>{{m[2]}}</button></td>
        </tr>
        {% else %}
        <tr>
        <td align = "left"><button class="w3-container w3-orange btn" passive>{{m[2]}}</button></td>
        </tr>
        {% endif %}
      {% else %}
        {% if not m[4] %}
        <tr>
        <td align= "right"><button class="w3-container w3-amber btn" passive>{{m[2]}}</button></td>
        </tr>
        {% else %}
        <tr>
        <td align = "left"><button class="w3-container w3-orange btn" passive>{{m[2]}}</button></td>
        </tr>
        {% endif %}
      {% endif %}
    {% endfor %}
  </thead>
  </table>
    </div>
      <form method="POST" action="{{url_for('link6.sendMessages', furom = id, role = role, tu = name[0])}}" role="search">
        <div class="input-group" ><input  type="text" class="form-control" placeholder="Type your message"  name="message" required>
         <span class="input-group-btn" style="color:E88E0C">
          <button class="btn"  type="submit"><a class="glyphicon glyphicon-pencil"></a></button>
         </span>
        </div><!-- /input-group -->
      </form>
{% endif %}

    </div>
    
  </div>
{% endblock %}